/* ==========================================================================
   Vars
   ========================================================================== */
//Sizes
$pageWidth: 1280px;

//padding
$pad: 0.4em;
$padHalf: 0.2em;

//Font
$light: 300;
$normal: 400;
$bold: 700;

//Colors
$darkGray: #414141;
$lightGray: #CCC;
$white: #FFFEFB;
$blue: #75ADC4;